.advantages {
  // padding: 0 19px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas: "first second second"
      "third third third"
      "fourth fourth  fiveth"
      "sixth seventh eighth";
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-areas: "first second second"
      "third third third"
      "fourth fourth  fiveth"
      "sixth seventh eighth";
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

.advantages__wrapper {
  margin: 25px auto;
  width: 281px;

  @media (min-width: @tablet-width) {
    width: 192px;
    margin: 40px auto;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}

.advantages__wrapper--first-section {
  margin: 36px auto;

  @media (min-width: @tablet-width) {
    margin: 40px auto;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.advantages__wrapper--second-section {
  margin: 0 auto;
  margin-top: -11px;

  .advantages__subtitle--secondary {
    margin-bottom: 32px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 42px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 51px;
    margin-bottom: 32px;
  }
}

.advantages__wrapper--third-section {
  @media (min-width: @tablet-width) {
    margin-top: 42px;
    margin-bottom: 60px;
  }
}

.advantages__wrapper--fourth-section {
  margin: 24px auto;

  .advantages__title {
    margin-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    margin: 42px auto;
  }

  @media (min-width: @desktop-width) {
    width: 272px;
  }
}

.advantages__item {
  background: @background-color-additional;
}

.advantages__item--order-first {
  order: 1;

  @media (min-width: @tablet-width) {
    grid-area: first;
  }
}

.advantages__item--order-second {
  order: 2;

  @media (min-width: @tablet-width) {
    grid-area: second;
  }
}

.advantages__item--order-third {
  order: 3;

  @media (min-width: @tablet-width) {
    grid-area: third;
  }
}

.advantages__item--order-fourth {
  order: 4;

  @media (min-width: @tablet-width) {
    grid-area: fiveth;
  }
}

.advantages__item--order-fiveth {
  order: 5;

  @media (min-width: @tablet-width) {
    grid-area: fourth;
  }
}

.advantages__item--order-sixth {
  order: 6;

  @media (min-width: @tablet-width) {
    grid-area: sixth;
  }
}

.advantages__item--order-seventh {
  order: 7;

  @media (min-width: @tablet-width) {
    grid-area: seventh;
  }
}

.advantages__item--order-eighth {
  order: 8;

  @media (min-width: @tablet-width) {
    grid-area: eighth;
  }
}

.advantages__item--border {
  border-bottom: 1px solid rgba(214, 214, 214, 1);

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.advantages__item--main {
  background: @background-color-general;
}

.advantages__item--menu {
  background: @background-color-page;
}

.advantages__item--icon-first {
  height: 260px;
  background-image: url("../img/index/picture-of-hotel/picture-of-hotel-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/picture-of-hotel/picture-of-hotel-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    background-image: url("../img/index/picture-of-hotel/picture-of-hotel-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/picture-of-hotel/picture-of-hotel-tablet@2x.jpg");
      background-size: 512px auto;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 800px;
    background-image: url("../img/index/picture-of-hotel/picture-of-hotel-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/picture-of-hotel/picture-of-hotel-desktop2x.jpg");
      background-size: 800px auto;
    }
  }
}

.advantages__item--icon-second {
  height: 260px;
  background-image: url("../img/index/picture-of-mountains/picture-of-mountains-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/picture-of-mountains/picture-of-mountains-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    background-image: url("../img/index/picture-of-mountains/picture-of-mountains-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/picture-of-mountains/picture-of-mountains-tablet@2x.jpg");
      background-size: 512px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    background-image: url("../img/index/picture-of-mountains/picture-of-mountains-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/picture-of-mountains/picture-of-mountains-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }
}

.advantages__main-title {
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    max-width: 520px;
    margin-top: 47px;
    margin-bottom: 30px;


    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 58px;
    margin-bottom: 30px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;

  @media (max-width: @mobile-width) {
    br {
      display: none;
    }
  }
}

.advantages__main-title--main {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__sub-main-title {
  margin: 0 auto;
  margin-bottom: 36px;
  max-width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 520px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    max-width: 484px;
    margin-bottom: 47px;
  }
}

.advantages__subtitle {
  margin: 0;
  text-align: center;
}

.advantages__title--main {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__subtitle--secondary {
  color: @text-color-additional;
}

.advantages__title--another-background {
  color: @text-color-with-background;
  margin-top: 50px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.advantages__subnumber--another-background {
  color: @text-color-with-background;
}

.advantages__subtitle--another-background {
  color: @text-color-with-background;
}

.advantages__subnumber {
  display: block;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.advantages__menu {
  margin-top: 23px;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-right: -3px;
    margin-bottom: 79px;
  }
}

.advantages__br-first-p-desktop {
  @media (max-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__br-second-p-desktop {
  @media (max-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__br-four-p-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__br-four-p-tablet {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__br-four-p-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__br-five-p-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__br-five-p-tablet {
  @media (max-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
