.error-modal {
  padding: 45px 42px 35px;
  background-color: @background-color-page;

  @media (min-width: @tablet-width) {
    padding: 54px 47px 49px;
  }

  @media (min-width: @tablet-width) {
    padding: 48px 47px 49px;
  }
}

.error-modal__title {
  margin: 0;
}

.error-modal__title--main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.error-modal__subtitle {
  margin: 0;
}
