.main-header {
  position: relative;
  display: flex;
  height: 56px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    height: auto;
  }
}

.main-header__main-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    margin: 10px;
    margin-bottom: 16px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 10px;
    margin-top: 13px;
    margin-left: 2px;
  }
}

.main-header__logo-image {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
