.menu {
  padding: 0;
  list-style-type: none;
  background-color: @background-color-page;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.menu__item {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-left: 38px;
    margin-right: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-left: 58px;
    margin-right: 60px;
  }
}

.menu__wrapper {
  max-width: 240px;
  margin-left: 47px;

  @media (min-width: @tablet-width) {
    margin-top: 110px;
    margin-left: 0;
    // min-width: 180px;
    max-width: 195px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 99px;
    margin-left: 0;
    min-width: 244px;
    max-width: 310px;
  }
}

.menu__item--icon-hotels {
  background: url("../img/index/menu-hotel.svg") no-repeat;

  @media (min-width: @tablet-width) {
    background: url("../img/index/menu-hotel-tablet.svg") no-repeat;
    background-position: top center;
  }
}

.menu__item--icon-food {
  background: url("../img/index/menu-food.svg") no-repeat;

  @media (min-width: @tablet-width) {
    background: url("../img/index/menu-food-tablet.svg") no-repeat;
    background-position: top center;
  }
}

.menu__item--icon-gifts {
  background: url("../img/index/menu-gift.svg") no-repeat;

  @media (min-width: @tablet-width) {
    background: url("../img/index/menu-gift-tablet.svg") no-repeat;
    background-position: top center;
  }
}

.menu__subtitle--main {
  margin: 0;
  margin-bottom: 23px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.menu__subtitle--secondary {
  margin: 0;
  color: @text-color-additional;
  text-align: center;
}
