.photos-videos {
  display: flex;
  flex-direction: column;
  padding: 33px 30px 0;
}

.photos-videos__title {
  margin: 0;
}

.photos-videos__subtitle {
  margin: 0;
}

.photos-videos__title--main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.photos-videos__subtitle--secondary {
  color: @text-color-additional;
}

.photos-videos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photos-videos__item {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.photos-videos__item:first-child {
  width: 100%;
}
