.review-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid rgba(219, 219, 219, 1);

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.review-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(219, 219, 219, 1);

  @media (min-width: @tablet-width) {
    border-top: 1px solid rgba(219, 219, 219, 1);
    border-bottom: none;
  }
}

.review-form__fieldset--textarea {
  border: none;
}


.review-form__fieldset:first-child {
  @media (min-width: @tablet-width) {
    width: 40%;
    border: none;
    border-right: 1px solid rgba(219, 219, 219, 1);
  }
}

.review-form__fieldset:nth-child(2) {
  @media (min-width: @tablet-width) {
    width: 40%;
    border: none;
  }
}

.review-form__fieldset--input-first {
  @media (min-width: @tablet-width) {
    padding-right: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 63px;
  }
}

.review-form__fieldset--input-second {
  @media (min-width: @tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 63px;
  }
}

.review-form__fieldset--radiobutton {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-bottom: -34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 13px;
    margin-bottom: 6px;
  }
}

.review-form__fieldset--checkbox {
  margin-bottom: -24px;
}


.review-form__legend {
  padding: 22px 63px 24px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 19px;
  }
}

.review-form__legend--input-first {
  padding: 20px 0 27px;
  margin-left: 34px;

  @media (min-width: @tablet-width) {
    padding: 5px 0 27px;
    margin-left: 18px;
  }
}

.review-form__legend--input-second {
  @media (min-width: @tablet-width) {
    padding: 5px 0 26px;
    margin-left: -19px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0 26px;
    margin-left: -29px;
  }
}

.review-form__legend--textarea {
  width: 100%;
  padding: 20px 0 24px;
}

.review-form__legend--radiobutton {
  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 17px;
    margin-bottom: 31px;
  }
}

.review-form__legend--checkbox {
  margin-bottom: 8px;
}

.review-form__label {
  display: flex;
  color: @text-color-additional;
}

.review-form__label--input {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }
}

.review-form__label--button {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @text-color-general;
  text-transform: none;

  // @media (min-width: @tablet-width) {
  //   margin-right: 49px;
  // }
}

.review-form-label-text {
  margin-left: 14px;

  @media (min-width: @desktop-width) {
    margin-left: 17px;
  }
}

.review-form__input {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  margin: 0;
  border: none;
  font-family: @font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @background-color-product-features;
}

.review-form__input--first {
  width: 280px;

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.review-form__input--second {
  flex-grow: 1;

}

.fieldset--input-second .review-form__input {
  @media (min-width: @desktop-width) {
    width: 344px;
  }
}

.review-form__input-wrapper {
  display: flex;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    width: 280px;
  }

  @media (min-width: @desktop-width) {
    width: 402px;
  }
}

.review-form__decor {
  width: 58px;
  height: 58px;
  background-color: @background-color-input-form-decor;
}

.review-form__decor-phone {
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review-form__decor-email {
  background-image: url("../img/form/email.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.review-form__input--checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.review-form__input--radio {
  clip: rect(0 0 0 0);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.review-form__span--control-mark-radio {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  margin: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: @background-color-product-features;
}

.review-form__span--control-mark-check {
  position: absolute;
  left: 3px;
  display: block;
  width: 46px;
  height: 46px;
  margin: 0;
  box-sizing: border-box;
  background-color: @background-color-product-features;
}

.review-form__span--control-label {
  display: block;
  margin-top: 5px;
  margin-left: 63px;
}

.review-form__input--checkbox:checked + .review-form__span--control-mark-check {
  background-image: url("../img/form/form-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.review-form__input--radio:checked + .review-form__span--control-mark-radio {
  background-image: url("../img/form/form-radio.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.review-form__input--textarea {
  display: block;
  margin-top: 20px;
  padding: 16px;
  width: 100%;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 160px;
    margin-top: 27px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-top: 28px;
    width: 768px;
    height: 160px;
  }
}

.review-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.review-form__list--radiobutton {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 36px;
    margin-right: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    // margin-left: 25px;
  }
}

.review-form__list--checkbox {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
    margin-right: 84px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.review-form__list--checkbox .review-form__item {
  @media (min-width: @tablet-width) {
    margin-right: 68px;
  }
}

.review-form__item {
  margin-bottom: 35px;

  // @media (min-width: @desktop-width) {
  //   margin-right: 15px;
  // }
}
