.review-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.review-form__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 100%;
  // border: none;
}

.review-form__fieldset:first-child {
  @media (min-width: @tablet-width) {
    width: 40%;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.review-form__fieldset:nth-child(2) {
  @media (min-width: @tablet-width) {
    width: 40%;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.review-form__legend {
  padding: 20px 0 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review-form__label {
  color: @text-color-additional;
}

.review-form__input {
  font-family: @font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.review-form__label--button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @text-color-general;
  text-transform: none;
}
