.review-form__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border: none;
}

.review-form__legend {
  padding: 20px 0 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review-form__label {
  color: rgba(51, 51, 51);
}

.review-form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.review-form__label--button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  text-transform: none;
}
