.search-hotels {
  padding: 39px 40px 49px;
  display: flex;
  flex-direction: column;
}

.search-hotels__title {
  margin: 0;
}

.search-hotels__title--main {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-hotels__subtitle--secondary {
  color: @text-color-additional;
}
