.video-container {
  padding: 17px 27px 0;
}

.video-container__title {
  margin: 0;
}

.video-container__title--main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video-container__subtitle {
  margin: 0;
}

.video-container__subtitle--secondary {
  color: rgba(51, 51, 51);
}
