.video-container {
  padding: 17px 27px 0;
}

.video-container__title {
  margin: 0 auto;
  margin-bottom: 36px;
  text-align: center;
}

.video-container__title--main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video-container__subtitle {
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
  width: 266px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 66px;
    width: 445px;
  }
}

.video-container__subtitle--secondary {
  color: @text-color-additional;
}
