@import "main-header.less";
@import "main-nav.less";
@import "welcome.less";
@import "advantages.less";
@import "menu.less";
@import "image-title.less";
@import "search-hotels.less";
@import "main-footer.less";
@import "socials.less";
@import "made-by.less";
@import "review.less";
@import "review-form.less";
@import "photos-videos.less";
@import "product-item.less";
@import "likes-button.less";
@import "video-container.less";


@font-face {
  font-family: "PT Sans";
  src: url("/source/fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("/source/fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.body-page {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(0, 0, 0);
  text-transform: uppercase;
  background: rgba(255, 255, 255);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-styles {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(255, 255, 255);
  background: rgba(129, 179, 210);
}
