//VARIABLES FOR BACKGROUND COLOR:
@background-color-page: rgba(255, 255, 255);
@background-color-general: rgba(129, 179, 210);
@background-color-additional: rgba(238, 238, 238, 1);
@background-color-for-images: rgba(129, 179, 210, 0.4);
@background-color-modal-windows: rgba(0, 0, 0, 0.3);
@background-color-product-features: rgba(242, 242, 242, 1);
@background-hover-elements: rgba(102, 158, 192, 1);
@background-active-elements: rgba(84, 150, 189, 1);

////VARIABLES FOR TEXT COLOR:
@text-color-general: rgba(0, 0, 0);
@text-color-additional: rgba(51, 51, 51);
@text-color-with-background: rgba(255, 255, 255);
@text-color-current-page: rgba(118, 99, 87, 1);
@text-color-active-element:  rgba(255, 255, 255, 0.3);
@text-hover-element: rgba(129, 179, 210);
@text-active-element: rgba(179, 179, 179, 1);


//VARAIBLES FOR FONTS:
@font-family: "PT Sans", sans-serif;

//VARAIBLES FOR BODY WIDTH DEPENDING ON THE DEVICE:
@mobile-width: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;
